@font-face {
  font-family: "Corfmat";
  src: url("../assets/fonts/Corfmat/Corfmat-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Corfmat";
  src: url("../assets/fonts/Corfmat/Corfmat-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Lexend";
  src: url("../assets/fonts/Lexend/ReadexPro-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Lexend";
  src: url("../assets/fonts/Lexend/ReadexPro-bold.ttf");
  font-weight: 700;
}

$corfmat: "Corfmat", cursive;
$lexend: "Lexend", sans-serif;