// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio:   4.5 !default;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark:      $cream !default;
$color-contrast-light:     $slate !default;

$border-radius: 5px;
$border-width: 1px;
//$border-color: $grey-500;

$text-underline-offset: 4px;

$transition: all .25s ease-in-out;

$form-input-max-width: 500px;