.block-sales {
  width: 100%;
  background: $snow;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: $border-radius;

  @include media-breakpoint-up(lg) {
    padding: 3rem;
  }

  &__container {
    padding: 3rem 1rem;
    max-width: 1200px;
    margin: auto;
    background: $cream;

    @include media-breakpoint-up(xxl) {
      padding: 12rem 15rem;
    }
  }
}