.block-chat-on {
  width: 100%;
  background: $cream;

  &__container {
    padding: 3rem 1rem 0;
    max-width: 800px;
    margin: auto;

    @include media-breakpoint-up(xl) {
      padding: 7rem 15rem 0;
    }
  }

  &__content {
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    gap: 3rem;
    position: relative;

    @include media-breakpoint-up(xl) {
      flex-direction: column;
      gap: 5rem;
    }
  }

  &__text {
    width: 100%;
  }

  &__images {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &-item {
      max-width: 100%;
    }
  }
}