.block-hero {
  background: $cream;
  margin: 0;
  position: relative;
  padding: 1rem 1rem 5rem;

  @include media-breakpoint-up(xl) {
    padding: 5rem 15rem 15rem;
  }
}

.block-hero__content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  @include media-breakpoint-up(xl) {
    flex-direction: row;
  }
}

.block-hero__title {
  width: 100%;
  text-align: center;
  margin: 0 auto 2rem;

  @include media-breakpoint-up(xl) {
    max-width: 100%;
    text-align: left;
    margin: 0 0 2rem;
    font-size: 3rem;
    line-height: 1.1;
  }
}

.block-hero__image {
  max-width: 500px;
  width: 100%;

  @include media-breakpoint-up(xl) {
    width: 50%;
  }
}

.block-hero__text {
  width: 100%;

  @include media-breakpoint-up(xl) {
    width: 50%;
  }
}

.block-hero__asset--1 {
  display: none;
  position: absolute;
  top: -5rem;
  right: 0;
  z-index: 1;

  @include media-breakpoint-up(xl) {
    display: block;
  }
}

.block-hero__asset--2 {
  display: none;
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);

  @include media-breakpoint-up(xl) {
    display: block;
  }
}