.block-presentation {
  background: $cream;
  position: relative;
  max-width: 2000px;
  margin: auto;
  overflow: hidden;

  @media (min-width: 2000px) {
    border-radius: $border-radius;
  }

  &__row {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include media-breakpoint-up(xxl) {
      flex-direction: row;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;

    + .block-presentation__content {
      margin-top: 4rem;
      margin-bottom: 2rem;
    }

    @include media-breakpoint-up(xxl) {
      width: 50%;
      margin: initial;

      + .block-presentation__content {
        margin-top: 0;
      }
    }
  }

  &__content {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    + .block-presentation__image {
      margin-top: 3rem;
    }

    .btns-container {
      margin-top: 2rem;
    }

    @include media-breakpoint-up(xxl) {
      margin-top: 0;
      padding: 5rem 3rem;
      width: 50%;

      + .block-presentation__image {
        margin-top: 0;
      }
    }

    .strong {
      font-weight: 700;
    }
  }
}

.block-presentation__asset--1 {
  display: none;
  position: absolute;
  top: 1rem;
  left: 0;
  z-index: 1;

  @include media-breakpoint-up(xl) {
    display: block;
  }
}