.gutenberg {
  &__block {
    margin-bottom: 5rem;
  }

  &__title {
    text-align: left;
    font-size: 2.3rem;
    font-family: $corfmat;
    margin-bottom: 1rem;
  }

  &__image {
    width: 100%;
    border-radius: $border-radius;
    box-sizing: border-box;
  }
}