h1 {
  font-family: $corfmat;
  color: $slate;
  font-weight: 700;
  font-size: 2.5rem;
}

p,
li {
  font-family: $lexend;
  color: $slate;
  line-height: 1.8;
  font-size: 1.2rem;
}

strong {
  font-family: $lexend;
  font-weight: 700;
}