h1 {
  font-family: $corfmat;
  color: $slate;
  font-weight: 700;
  font-size: 2.5rem;
}

h2 {
  color: $slate;
  text-transform: uppercase;
  font-family: $lexend;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
  text-align: center;

  .highlighted {
    color: $primary;
  }
}

.error,
.page {
  h1 {
    color: $slate;
    text-transform: uppercase;
    font-family: $lexend;
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
    text-align: center;

    .highlighted {
      color: $primary;
    }
  }

  h2 {
    font-family: $corfmat;
    color: $slate;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: initial;
    text-align: left;
  }
}

h3 {
  color: $slate;
  font-family: $corfmat;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
  line-height: 1;

  &:not(:first-child) {
    margin-top: 3rem;
  }
}

p,
li {
  font-family: $lexend;
  color: $slate;
  line-height: 1.8;
  font-size: 1.2rem;
}

label {
  font-family: $lexend;
  color: $slate;
  line-height: 1.8;
  font-size: 1.2rem;
  display: block;
}


.strong {
  font-family: $lexend;
  font-weight: 700;
}
