.cards-list {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  list-style-type: none;
  padding-top: 10rem;
  padding-left: 0;

  @include media-breakpoint-up(sm) {
    padding-top: 8rem;
    gap: 8rem;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 10rem;
    gap: 10rem;
  }

  @include media-breakpoint-up(xl) {
    flex-direction: row;
    padding-left: initial;
    gap: 2rem;
    padding-top: 8rem;
  }

  @include media-breakpoint-up(xxl) {
    padding-top: 12rem;
  }
}

.cards-item {
  width: initial;
  border-radius: $border-radius;
  border: 2px solid $cream;
  text-align: center;
  position: relative;

  @include media-breakpoint-up(xl) {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 33%;
  }

  // Image dimensions : 270*200px
  &__image {
    max-width: 100%;
    position: absolute;
    top: -12rem;
    left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-up(xxl) {
      top: -12rem;
    }

    @include media-breakpoint-up(xxl) {
      width: 70%;
      top: -14rem;
    }
  }

  &__title {
    width: 80%;
    margin: auto;
    text-align: center;

    @include media-breakpoint-up(xl) {
      width: 95%;
    }
  }

  &__content {
    padding: 5rem 1rem 1rem;
    text-align: left;
    width: 100%;
    box-sizing: border-box;

    @include media-breakpoint-up(xl) {
      padding: 4rem 1rem 1rem;
    }
  }

  &__list {
    margin-top: 2rem;
    text-align: left;
    list-style-image: url("./assets/bullet_15px.png");
    list-style-position: outside;
  }
}

.cards-item--foldable {
  .cards-item {
    &__content {
      &--fold {
        height: 100%;
        background: $cream;
      }

      &--unfold {
        padding-top: 0;
        background: $snow;

        .cards-item__list {
          margin-top: 1rem;
        }
      }
    }
  }
}

.cards-item__content--unfold {
  &[aria-hidden=true] {
    display: none;
  }

  &[aria-hidden=false] {
    display: block;
  }
}