.icon-external-link {
  margin-left: .25rem;
  display: inline-block;
}

.icon-internal-link {
  margin-left: .25rem;
  display: inline-block;
}

.icon-dl-link {
  margin-left: .25rem;
  display: inline-block;
}

.icon-send-link {
  margin-left: .25rem;
  display: inline-block;
}